<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
  <script src="/components/platform/platform.js"></script>
  <title>Please provide a title</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="import" href="/components/async-workshop-page/async-workshop-page.html">
</head>
<body unresolved touch-action="auto" fullbleed>
  <async-workshop-page>
  </async-workshop-page>

</body>
</html>