<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-header-panel/core-header-panel.html">
<link rel="import" href="../core-menu/core-menu.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../core-scaffold/core-scaffold.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-item-fixed/paper-item.html">

<polymer-element name="async-workshop-page" attributes="pageTitle pageSubtitle currentSection collapsible">
  <template>
    <link rel="stylesheet" type="text/css" href="async-workshop-page.css">
    <core-scaffold id="pageScaffold" mode="{{collapsible ? 'waterfall-tall' : 'seamed'}}">
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar id="navHeader" layout vertical center>
          <a href="/"><paper-button label="core.async/go"></paper-button></a>
        </core-toolbar>
        <content id="navMenu" select="nav">
      </core-header-panel>
      <div tool flex></div>
      <h1 id="pageTitle" tool class="middle">{{pageTitle}}</h1>
      <div id="pageSubtitle" tool class="bottom">{{pageSubtitle}}</div>
      <a tool href="/tutorial">
        <paper-button label="Tutorial" class="header-button" active="{{isActiveSection('/tutorial')}}"></paper-button>
      </a>
      <a tool href="/reference">
        <paper-button label="Reference" class="header-button" active="{{isActiveSection('/reference')}}"></paper-button>
      </a>
      <a tool href="/chat-demo">
        <paper-button label="Chat Demo" class="header-button" active="{{isActiveSection('/chat-demo')}}"></paper-button>
      </a>
      <div id="pageContent">
        <content select="*"></content>
      </div>
    </core-scaffold>
  </template>
  <script src="async-workshop-page.js"></script>
</polymer-element>