<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-header-panel/core-header-panel.html">
<link rel="import" href="../core-menu/core-menu.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../core-scaffold/core-scaffold.html">
<link rel="import" href="../core-toolbar/core-toolbar.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-item-fixed/paper-item.html">

<polymer-element name="async-workshop-page" attributes="pageTitle pageSubtitle currentSection collapsible">
  <template>
    <link rel="stylesheet" type="text/css" href="async-workshop-page.css">
    <core-scaffold id="pageScaffold" mode="{{collapsible ? 'waterfall-tall' : 'seamed'}}">
      <core-header-panel navigation flex mode="seamed">
        <core-toolbar id="navHeader">
          <paper-button flex label="Get going" section="" on-tap="{{headerClick}}"></paper-button>
        </core-toolbar>
        <content id="navMenu" select="nav">
      </core-header-panel>
      <div tool flex></div>
      <h1 id="pageTitle" tool class="middle">{{pageTitle}}</h1>
      <div id="pageSubtitle" tool class="bottom">{{pageSubtitle}}</div>
      <paper-button tool label="Tutorial" class="header-button" section="tutorial" on-tap="{{headerClick}}"></paper-button>
      <paper-button tool label="Reference" class="header-button" section="reference" on-tap="{{headerClick}}"></paper-button>
      <paper-button tool label="Chat Demo" class="header-button" section="chat-demo" on-tap="{{headerClick}}"></paper-button>
      <div id="pageContent">
        <content select="*"></content>
      </div>
    </core-scaffold>
  </template>
  <script src="async-workshop-page.js"></script>
</polymer-element>